img {
    width: 100%;  
}

.my-bg-1 {
    background-color: rgb(182, 231, 208);
    border-radius: 15px 15px 0px 0px;
}

.my-shadow {
    box-shadow: 0px 0px 5px rgb(182, 231, 208);
    border-radius: 15px;
}

.active {
    font-weight: 500;
}

[class *=col] {
    padding: 30px 20px;
}

body {
    font-family: 'Comfortaa', cursive;
}

.img {
    border-radius: 15px;
}